@charset "UTF-8";
/* CSS Document */

/*------------TABLE OF CONTENTS
1. Typography
2. Nav
3. Content
4. Media
5. Utility
---------------*/


/*------------TYPOGRAPHY---------------*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 26px;
}

li, h1, #contact, footer li, #submit {
	text-transform: uppercase;
}

li, #contact p a, address a {
	display: inline-block;
}

li, h1, footer li, a, #submit {
	color: white;
}

h2, #social-media, #contact, #overview p, .float-left p, .float-right p, .float-left h3, .float-right h3 {
	text-align: center;	
}

h2, h3, label {
	color: #5f879b;
}

#sustainability, h2, h3, #contact {
	font-weight: 300;
}

h1 {
	font-size: 92px;
	margin-top: 66px;
	line-height: 70px;
}

#sustainability, h2, h3 {
	font-family: 'Dancing Script', cursive;
}

h1 span {
	text-transform: lowercase;
	font-size: 45px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 35px;
}

footer li {
	font-size: 24px;
}

ul {
	margin: 0;
}

a {
	text-decoration: none;
}

#overview p {
 	font-size: 22px;
    font-weight: 100;
    padding: 0 160px 145px 160px;
    line-height: 35px;
}

address a {
	font-style: normal;
}

address a:nth-child(2) {
	padding: 20px 45px;
}

section header h2 {
	padding-top: 60px;
}

#submit {
	width: 130px;
	height: 30px;
	border: none;
}

#submit:hover {
	background-color: #233233;
}
 
#form-wrapper {
 	width: 440px;
	margin: 0 auto;
}
 
input, textarea {
 	width: 432px;
	border: 1px solid #5f879b;
}

input {
	height: 30px;
	margin-bottom: 15px;
}

form {
	padding: 60px 0;
}

select {
	width: 290px;
	margin-left: 40px;
	margin-bottom: 15px;
	border-color: #5f879b;
}

label {
	font-weight: 500;
}


/*------------NAV---------------*/

nav ul{
	font-weight: 600;
}

header li a {
	padding: 5px 20px;
}

header li a:hover {
	color: #5f879b;
}
 
header li:last-child {
    border-radius: 25px;
    border: 3px solid white;
}

header li:last-child:hover {
	background-color: #5f879b;
}

header li a:last-child:hover {
	color: white;
}

/*------------CONTENT---------------*/

header p, .float-left, #left-column {
	float: left;
}

#submit, nav, .float-right, #right-column {
	float: right;
}

nav {
	margin-top: 30px;
}

.float-left, #left-column {
	width: 500px;
}

.float-right, #right-column {
	width: 500px;
}

.float-left p, .float-right p {
	margin-top: 0;
}

.float-left p:last-child, .float-right p:last-child {
	margin-bottom: 150px;
}

.float-left h3, .float-right h3 {
	padding-bottom: 10px;
	margin-bottom: 0;
}

#social-media .row img {
	width: 42px;
	padding: 16px 22px 16px 0;
}

#overview h2 {
 	padding-top: 150px;
}

#columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	-webkit-column-gap: 45px; /* Chrome, Safari, Opera */
    -moz-column-gap: 45px; /* Firefox */
    column-gap: 45px;
}

/*------------MEDIA---------------*/

#cover {
	background: url(../img/hero.jpg) no-repeat center center fixed; 
}

#cover, #take-action-cover {
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	min-height: 405px;
}

#take-action-cover {
	background: url(../img/trees.jpg) no-repeat center center fixed; 
}

header img {
	margin: 16px 0;
}

/*------------UTILITY---------------*/


.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

#social-media, #submit {
	background-color: #5f879b;
}

#contact {
	background-color: #233233;
}



